---
import Layout from "../layouts/Layout.astro";
import Hello from  '../components/Hello.vue';
import GitHub from "~/components/GitHub.astro";
import Loading from "~/components/Loading.vue";
import Confetti from '~/components/Confetti.vue'
import SplineLogo from '~/components/SplineLogo.vue'
import i18next, { t, changeLanguage } from "i18next";
import { LanguageSelector, Trans } from "astro-i18next/components";

changeLanguage("cn");
---
<Layout title="Here is Eiog">
	<main class="w-screen-lg h-100 flex-col" >
    <div class="flex">
      <Hello client:only="vue"/>
    </div>
    <div class="flex mt-3">
      <GitHub/>
    </div>
	</main>
  <Confetti client:only="vue"/>
</Layout>

<style>

</style>
