---
import Layout from "../layouts/Layout.astro";
import Hello from  '../components/Hello.astro';
import GitHub from "~/components/GitHub.astro";
import Loading from "~/components/Loading.astro";
import Card from "../components/Card.astro";
import Counter from "../components/Counter.vue";
import i18next, { t, changeLanguage } from "i18next";
import { LanguageSelector, Trans } from "astro-i18next/components";

changeLanguage("cn");
---

<Layout title="Here is Eiog">
	<main class="w-3xl flex-col" >
		<Hello/>
    <div class="flex mt-3">
      <GitHub/>
    </div>
    <div>
      <Loading/>
    </div>
	</main>
</Layout>

<style>

</style>
