---
import { Icon } from 'astro-icon'
---
<div class="p-1 transition-all rounded-md hover:(bg-black/10)">
  <a href="https://github.com/Eiog" target="_blank" rel="noopener noreferrer">
    <Icon name="mdi:github-face" size="26" />
  </a>
</div>
